﻿@model SytnerCars.Models.Cars

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cars</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarEngine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarEngine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarEngineSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarEngineSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModelYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModelYear)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
