﻿@model SytnerCars.Models.Cars

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cars</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarEngine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarEngine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarEngineSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarEngineSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModelYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModelYear)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
