﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sytner Group</h1>
</div>

    <div class="row">
        <div class="col-md-4">
            <h2>Welcome to Sytner</h2>
            <p>
                Sytner Car List is a application that
                demonstrates how to use Entity Framework in an
                ASP.NET MVC 5 web application.
            </p>
        </div>
    </div>